body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F0F1F7;
}

.btn-primary {
    color: white;
    background-color: #FDB72C;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    padding: 8px 16px 8px 16px;
}

.btn-primary:hover {
    background-color: #403F3C;
}

.navbar-brand {
    width: 34%;
    padding: 0.5%;
    padding-left: 4%;
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 2.5rem;
    padding-left: 3.1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.navbar-dark .navbar-nav .active .nav-link {
    color: #FDB72C;
    font-size: 20px;
    font-weight: 500;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #FDB72C;
}

.banner {
    background-image: url(images/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    width: 100%;
    float: left;

}

.m0 {
    margin: 0;
}

.contact {

    background-image: url(images/hero-contact.jpg);
}

.page-banner {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    background-position: right;
    padding: 10%;
    width: 100%;
    float: left;

}
 
.banner .first-text {
    font-family: 'Dancing Script', cursive;
    font-size: 44px;
    color: #FDB72C;
}

.banner .second-text {
    font-size: 70px;
    color: white;
    font-weight: 700;
}

.sectiontexts {
    color: #4D6D77;
    font-family: 'Dancing Script', cursive;
}

.custom-left {
    margin-left: 24px;
}

.customfontweight {
    font-weight: 700;
}

.bgset {
    background-image: url(images/bg.jpg);
    background-size: cover;
}

.bgsets {
    background-image: url(images/bg-home-img.jpg);
    background-size: cover;
    min-height: 400px;
    
}

.page-banner {
    font-weight: 800;
    color: white;
    font-size: 25px;
}

.page-banner h1 {
    color: white;
    font-weight: 800;
}

.page-banner h5 {
    color: #FDB72C;
    font-weight: 800;
}

.thecolor {
    color: #FDB72C;
}

.myform h2 {
    color: #FDB72C;
    font-weight: 800;
}

.myform {
    color: white;
    background-color: #222222;
    width: 70%;
    margin-left: -25px;
    padding-top: 5%;
    padding-bottom: 16%;
}

.mycustomstyle {
    height: 580px;
    margin-top: -2px;
}

.imgcustomize {
     width: 39%;
    float: right;
    position: absolute;
    right: 0;
    height: 348px;
}